.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0,0,0,0.65);
}


.modal{
    position: fixed;
    top: 30vh;
    left: 20%;
    width: 60%;
    z-index: 100;
    overflow: hidden;
    border: 1px solid #EEEEEE;
    /* background-color: #00ADB5; */
    padding-top: 0px;
    background-color: #393E46;
}

.header{
    margin:0;
    color: #EEEEEE;
    /* background-color: #393E46; */
    background-color: #00ADB5;
}

.header h3{
    padding: 1rem;
}

.content{
    padding: 1rem;
    color: #EEEEEE;
}

.actions{
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}


@media (min-width: 768px) {
    .modal {
      left: calc(50% - 20rem);
      width: 40rem;
    }
  }